<!doctype html>
<html class="no-js" lang="" data-ng-app="AngularIntro">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular intro</a>
    </div>

    <div class="collapse navbar-collapse" id="site-main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" data-ng-controller="AngularIntroCtrl">
  <div class="row">

    <h2 class="text-center"><strong>Zamówienie dla {{ userName }}</strong></h2>

    <hr>

    <div class="col-xs-6">
      <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="(id, product) in shoppingCart">
          <strong>{{ product.name }}</strong> - {{ product.price | currency }}
          <button data-ng-click="removeFromCart(id)" class="btn btn-xs btn-danger pull-right">X</button>
        </li>
      </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <strong>Wysyłka - </strong> {{ shippingPrice | currency }}
        </li>
      </ul>

      <button class="btn btn-success" data-ng-click="confirmOrder()">Złóż zamówienie</button>

      <button class="btn btn-danger pull-right" data-ng-click="clearCart()">Wyczyść koszyk</button>
    </div>

    <div class="col-xs-6">
      <div class="well">Twój komentarz: {{ comment }}</div>
      <textarea class="form-control" data-ng-model="comment"></textarea>
    </div>

  </div>
</div>

<!-- Add your site or application content here -->

<!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/plugins.js"></script>

<script src="bower_components/angular/angular.min.js"></script>

<script src="js/app/main/module.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="js/main.js"></script>-->

</body>
</html>
