<!doctype html>
<html class="no-js" lang="" data-ng-app="AngularIntro">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular intro</a>
    </div>

    <div class="collapse navbar-collapse" id="site-main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" data-ng-controller="ExampleCtrl">

  <div class="row">
    <div data-ng-show="formSave" class="alert alert-success">
      <strong>Sukces!</strong> Twoje dane zostały zapisane!
    </div>

    <div data-ng-show="formSave" class="well" >
      <strong>Login: </strong> {{ member.login }} <br>
      <strong>E-mail: </strong> {{ member.email }} <br>
      <strong>Specjalizacja: </strong> {{ member.specialization.name }} <br>
      <strong>Technologie: </strong> <span data-ng-repeat="tech in member.technologies">{{ tech.name }}, </span> <br>
      <strong>Typ konta: </strong> {{ member.account }} <br>
    </div>

    <form class="form-horizontal" data-ng-hide="formSave" data-ng-submit="formSave=true" novalidate>

      <div class="form-group">
        <label for="uLogin" class="col-sm-2 control-label">Login</label>

        <div class="col-sm-6">
          <input
            id="uLogin"
            type="text"
            data-ng-model="member.login"
            data-ng-focus="loginPrompt = true"
            data-ng-blur="loginPrompt = false"
            class="form-control">
        </div>

        <div data-ng-show="loginPrompt" class="col-sm-4" style="font-size: .7em; padding: 8px 0; color: darkred;">
          Na podstawie Twojego loginu utworzymy konto e-mail.
        </div>
      </div>

      <div class="form-group">
        <label for="uEmail" class="col-sm-2 control-label">E-mail</label>

        <div class="col-sm-8">
          <input
            id="uEmail"
            type="email"
            data-ng-disabled="useBtEmail"
            data-ng-readonly="useBtEmail"
            data-ng-model="member.email"
            class="form-control">
        </div>

        <div class="col-sm-8 col-sm-offset-2">
          <div class="checkbox">
            <label>
              <input
                data-ng-model="useBtEmail"
                data-ng-change="member.email = member.login+'@britenet.com.pl'"
                data-ng-disabled="!member.login"
                type="checkbox">

              Użyj e-maila w domenie britenet.com.pl
              <span data-ng-show="member.login">({{ member.login }}@britenet.com.pl)</span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="uSpec" class="col-sm-2 control-label">Specjalizacja</label>

        <div class="col-sm-8">
          <select
            id="uSpec"
            data-ng-model="member.specialization"
            data-ng-options="spec.name group by spec.type for spec in specializations"
            class="form-control">
            <option value="">-- wybierz specjalizacje --</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="uSpec" class="col-sm-2 control-label">Ulubione technologie</label>

        <div class="col-sm-8">
          <div class="checkbox" data-ng-repeat="tech in technologies">
            <label>
              <input
                type="checkbox"
                data-ng-model="tech.selected"
                value="{{ tech.name }}"
                data-ng-change="populateTechs()"
                name="techs[]">
              {{ tech.name }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="uSpec" class="col-sm-2 control-label">Typ konta</label>

        <div class="col-sm-8">
          <div class="radio" data-ng-repeat="type in accountTypes">
            <label>
              <input
                data-ng-model="member.account"
                data-ng-value="type"
                type="radio">
              {{ type }}
            </label>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-sm-offset-2">
        <button class="btn btn-success">Zapisz dane</button>
      </div>

    </form>

  </div>
</div>

<!-- Add your site or application content here -->

<!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/plugins.js"></script>

<script src="bower_components/angular/angular.min.js"></script>

<script src="js/app/main/module.js"></script>
<script src="js/app/main/controller.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="js/main.js"></script>-->

</body>
</html>
