<!doctype html>
<html class="no-js" lang="" data-ng-app="AngularIntro">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular intro</a>
    </div>

    <div class="collapse navbar-collapse" id="site-main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">

    <form name="form" class="form-horizontal" novalidate>

      <div data-ng-show="form.$submitted">
        <div data-ng-show="form.$valid" class="alert alert-success">
          <strong>Sukces!</strong> Twoje dane zostały zapisane!
        </div>

        <div data-ng-show="form.$invalid" class="alert alert-warning">
          <strong>Uwaga!</strong> Popraw błędy formularza!
        </div>
      </div>

      <div class="form-group">
        <label for="uName" class="col-sm-2 control-label">Imię i nazwisko*</label>

        <div class="col-sm-4">
          <input
            type="text"
            name="uName"
            id="uName"
            data-ng-model="user.name"
            required="required"
            class="form-control">

          <div data-ng-messages="form.uName.$error" data-ng-show="form.$submitted || form.uName.$touched">
            <span data-ng-message="required" class="info-block">Musisz podać imię i nazwisko!</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="uEmail" class="col-sm-2 control-label">E-mail*</label>

        <div class="col-sm-4">
          <input
            type="email"
            id="uEmail"
            name="uEmail"
            data-ng-model="user.email"
            required="required"
            class="form-control">

          <div data-ng-messages="form.uEmail.$error" data-ng-show="form.$submitted || form.uEmail.$touched">
            <span data-ng-message="required" class="info-block">Musisz podać e-mail!</span>
            <span data-ng-message="email" class="info-block">Podany e-mail jest niepoprawny</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="uPhone" class="col-sm-2 control-label">Telefon</label>

        <div class="col-sm-4">
          <input
            type="text"
            id="uPhone"
            name="uPhone"
            data-ng-model="user.phone"
            pattern="\d{3}-\d{3}-\d{3}"
            placeholder="format: 123-123-123"
            class="form-control">

          <div data-ng-messages="form.uPhone.$error" data-ng-show="form.$submitted || form.uPhone.$touched">
            <span data-ng-message="pattern" class="info-block">Numer telefonu musi być w formacie 123-123-123</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="uEvent" class="col-sm-2 control-label">Wydarzenie*</label>

        <div class="col-sm-4">
          <select
            id="uEvent"
            name="uEvent"
            data-ng-model="user.event"
            required="required"
            class="form-control">
            <option value="">-- wybierz wydarzenie --</option>
            <option value="angular">Angular - Mistrzowskie aplikacje</option>
            <option value="js">JavaScript - Od zera do bohatera</option>
            <option value="html5">HTML5 dla zielonych</option>
          </select>

          <div data-ng-messages="form.uEvent.$error" data-ng-show="form.$submitted || form.uEvent.$touched">
            <span data-ng-message="required" class="info-block">Wybierz wydarzenie na jakie chcesz się zapisać</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="uTickets" class="col-sm-2 control-label">Ilość biletów*</label>

        <div class="col-sm-3">
          <input
            type="number"
            id="uTickets"
            name="uTickets"
            data-ng-model="user.tickets"
            required="required"
            min="1"
            max="4"
            class="form-control">

          <div data-ng-messages="form.uTickets.$error" data-ng-show="form.$submitted || form.uTickets.$touched">
            <span data-ng-message="required" class="info-block">Podaj ilość biletów, jaką chcesz zarezerwować</span>
            <span data-ng-message="min" class="info-block">Minimalna ilość biletów to 1</span>
            <span data-ng-message="max" class="info-block">Maksymalna ilość biletów to 4</span>
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                id="uConfirm"
                name="uConfirm"
                data-ng-model="user.confirm"
                required="">
              Zgadzam się z regulaminem szkolenia*
            </label>
          </div>

          <div data-ng-messages="form.uConfirm.$error" data-ng-show="form.$submitted || form.uConfirm.$touched">
            <span data-ng-message="required" class="info-block">Potwierdź regulamin</span>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-sm-offset-2">
        <button class="btn btn-success">Zapisz się na szkolenie</button>
      </div>

    </form>
  </div>
</div>

<!-- Add your site or application content here -->

<!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/plugins.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>

<script src="js/app/main/module.js"></script>
<script src="js/app/main/controller.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="js/main.js"></script>-->

</body>
</html>
