<div class="well text-center bc-style">
    <img ng-src="{{ member.avatar }}" alt="">
    <h4>{{ member.name }}</h4>
    <h6>{{ member.position }}</h6>
    <hr>
    <a class="btn btn-xs btn-success" href="mailto:{{ member.email }}">Wyślij e-mail</a>
</div>